<ng-container #headerPlaceHolder></ng-container>
<ul class="remote-menu">
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="form">Form</a></li>
</ul>
<router-outlet></router-outlet>
<ng-container #footerPlaceHolder></ng-container>
